<div>
         <div className="container-fluid">
        <div className="row">
          <div className="col-12">
            <div className="row">
              <div className="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6  ">
                <div className="mt-5">
                  <h3 className="text-center">Sign Up</h3>
                  <p className="text-center text-muted">
                    Create account to start using Ojutaye
                  </p>



                  <div className="">




                  </div>

                  <div className="d-flex justify-content-center">
                    <Button variant="contained" className="w-75 mt-4">
                      SIGNUP
                    </Button>
                  </div>

                  <p className="text-center ">Or</p>

                  <div className=" d-flex justify-content-center ">
                    <Button variant="outlined" className="mx-2 optionBtn">
                      <img
                        src={facebook}
                        alt="facebook_logo"
                        className="optionBtnLogo"
                      />
                      <span className="optionText">SignUp with Facebook</span>
                    </Button>
                    <Button variant="outlined" className="mx-2 optionBtn">
                      <img
                        src={google}
                        alt="facebook_logo"
                        className="optionBtnLogo"
                      />
                      <span className="optionText">SignUp with Facebook</span>
                    </Button>
                  </div>
                </div>
              </div>
              <div className="d-lg-block d-none col-xl-6 col-xxl-6 rightSide">
                <h1 className="text-light m-5">Ojutaye</h1>
                <div className="d-flex justify-content-center ">
                <img src={eagle} alt="" className="mt-5"/>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
